.now/*
*.css
.changeset
dist
esm/*
public/*
tests/*
scripts/*
.DS_Store
node_modules
coverage
.next
build

# Keep these config files
!.commitlintrc.cjs
!.lintstagedrc.cjs
!jest.config.js
!plopfile.js
!react-shim.js
!tsup.config.ts